<h1>Editing admin_audit</h1>

<%= render 'form' %>

<div class='button-group'>
<%= link_to 'Show', @admin_audit, :class => 'minibutton' %>
<%= link_to 'Back', admin_audits_path, :class => 'minibutton' %>
</div>