<!-- ///RIRA Launchpad (AH & VL)
	 Author: Omid Mehdizadeh (omid.mt@gmail.com)
	 Ver 1.0 July 2012 []
-->
<%= stylesheet_link_tag 'launchpad', :media => 'screen' %>
<%= stylesheet_link_tag 'slickmenu', :media => 'screen' %>


<!--<body bgcolor="silver">-->

<!--<div id="launchpad">-->
  <!--<div id="lpContent">-->
    <!--<div id="lpHeader"><h3>///RIRA Launchpad</h3></div>-->
    <!--<br><br>-->
    <!-- <br><br>Todos: <ul><il></il></ul> -->
    <!--<div id="menu">-->
      <!--<ul>-->
        <!--<li><a href="alarms.html"><img class="pie" width="50" Height="50" src="/assets/ahist.png" alt="Capacity Details Data" /></a>-->
        <!--</li>-->
        <!--<li><a href="capacity.html"><img class="pie" width="50" Height="50" src="/assets/vcard.png" alt="Capacity" /></a>-->
        <!--</li>-->
        <!--<li><a href="about.html"><img class="pie" width="50" Height="50" src="/assets/erira-256.png" alt="About" /></a>-->
        <!--</li>-->
        <!-- more menu items -->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

