<h1>Editing Access Right</h1>

<%= render 'form' %>
<div class='button-group'>
<%= link_to 'Show', admin_right_path(@right), :class => 'minibutton' %>
<%= link_to 'Back', admin_rights_path, :class => 'minibutton' %>
</div>