<h1>Editing micropost</h1>

<%= render 'form' %>

<div class='button-group'>
<%= link_to 'Show', @micropost, :class => 'minibutton'%>
<%= link_to 'Back', microposts_path, :class => 'minibutton' %>
</div>