<p id="notice"><%= notice %></p>

<div class='button-group'>
<%= link_to 'Edit', edit_micropost_path(@micropost), :class => 'minibutton' %>
<%= link_to 'Back', microposts_path, :class => 'minibutton' %>
</div>