<h1>Editing filter</h1>

<%= render 'form' %>
<br/>
<div class='button-group'>
<%= link_to 'Show', @filter, :class => 'minibutton' %>
<%= link_to 'Back', filters_path, :class => 'minibutton' %>
</div>